<!DOCTYPE html>
<html>
  <head>
    <title>SchoolSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

   <div data-controller="layouts" id='header'></div>
    <%= yield %>
    <div data-controller="layouts" id="footer"></div>
  </body>
</html>
